@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
  font-size: 14px;
}
#root {
  width: 100%;
}

#canvas1, #canvas2 {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #888;
}
#controls {
  text-align: center;
}
#start_button, #stop_button {
  font-size: 16pt;
}
